@import "@/styles/variables.module";
@import "@/styles/text-gradient";

.wrapper {
	padding: 50px 0 0;
}

.container {
	max-width: 1088px;
	width: 100%;
	padding: 0 12px;
	margin: 0 auto;
	@media screen and (max-width: 768px) {
		padding: 0 28px;
	}
}

.hero {
	margin-top: 50px;
	position: relative;
	@media screen and (max-width: 768px) {
		margin-top: 37px;
	}
	&__img {
		position: absolute;
		right: 0;
		width: 100%;
		max-width: 733px;
		@media screen and (max-width: 1024px) {
			max-width: 533px;
			height: 545px;
		}
		@media screen and (max-width: 768px) {
			max-width: 359px;
			height: auto;
		}
		&__wrapper {
		}
	}
	&__title {
		font-weight: 800;
		font-size: clamp(16px, 9vw, 52px);
		line-height: 99%;
		text-transform: uppercase;
		color: $white;
		margin: 0;
		&_wrapper {
			margin-bottom: 20px;
			position: relative;
			z-index: 10;
			@media screen and (max-width: 768px) {
				margin-bottom: 30px;
			}
		}
	}
	&__steps {
		font-weight: 300;
		font-size: 16px;
		line-height: 160%;
		color: $white1;
		@media screen and (max-width: 768px) {
			font-size: 14px;
		}
		&_wrapper {
			padding: 27px 30px 12px;
			margin-bottom: 40px;
			position: relative;
			z-index: 10;
			@media screen and (max-width: 768px) {
				padding: 14px 12px 16px;
				margin-bottom: 250px;
			}
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 1px;
				background: linear-gradient(to bottom, #4271A1E6 11%,  #FFCC49 50%, #4271A1E6 87%);
			}
		}
		& b {
			font-weight: 600;
		}
		& a {
			font-weight: 300;
			position: relative;
			&:after {
				content: '';
				width: 100%;
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				border-bottom: 1px solid;
				border-image-slice: 1;
				border-image-source: linear-gradient(90deg,
						rgba(8, 162, 50, 1) 0%,
						rgba(45, 230, 255, 1) 33%,
						rgba(59, 87, 237, 1) 66%,
						rgba(145, 106, 255, 1));
			}
		}
	}
	&__btn {
		text-decoration: none;
		padding: 15px 43px;
		line-height: 33px;
		@media screen and (max-width: 768px) {
			padding: 9px 27px;
			font-size: 16px;
			line-height: 22px;
		}
		&__wrapper {
			position: relative;
			z-index: 10;
		}
	}
	&__title2 {
		font-weight: 800;
		font-size: clamp(24px, 9vw, 100px);
		max-width: 1074px;
		line-height: 125%;
		letter-spacing: -0.02em;
		text-align: center;
		@media screen and (max-width: 768px) {
			font-size: clamp(24px, 5.3vw, 100px);
		}
		&_wrapper {
			margin-top: 40px;
			position: relative;
			z-index: 10;
			@media screen and (max-width: 768px) {
				margin-top: 240px;
			}
		}
	}
}