@import "@/styles/variables.module";
@import "@/styles/text-gradient";

.wrapper {
	padding: 50px 15px 0;
	position: relative;
}

.hero {
	position: relative;

	@media screen and (max-width: 768px) {
		margin-top: 37px;
	}

	&__img {
		position: absolute;
		bottom: -86px;
		right: -327px;
		width: clamp(650px, 80vw, 900px);
		height: auto;
	}

	&__text {
		margin-top: 12px;
		font-family: 'Inter', sans-serif;
		font-weight: 300;
		font-size: 16px;
		line-height: 140%;
		color: $white1;
	}

	&__title {
		margin: 0;
		max-width: 62%;
		font-weight: 700;
		font-size: clamp(16px, 9vw, 62px);
		line-height: 99%;
		text-transform: uppercase;
		color: $white;

		@media screen and (max-width: 900px) {
			max-width: 87%;
		}

		&_wrapper {
			margin-bottom: 20px;
			position: relative;
			z-index: 10;

			@media screen and (max-width: 768px) {
				margin-bottom: 30px;
			}
		}
	}

	&__steps {
		font-family: 'Inter', sans-serif;
		font-weight: 300;
		font-size: 16px;
		line-height: 160%;
		color: $white1;

		@media screen and (max-width: 768px) {
			font-size: 14px;
		}

		&_wrapper {
			padding: 27px 30px 12px;
			margin-bottom: 40px;
			position: relative;
			z-index: 10;

			@media screen and (max-width: 768px) {
				padding: 14px 12px 16px;
				margin-bottom: 150px;
			}

			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				width: 1px;
				background: linear-gradient(to bottom, #4271A1E6 11%, #FFCC49 50%, #4271A1E6 87%);
			}
		}

		& b {
			font-family: 'Inter-SemiBold', sans-serif;
			font-weight: 600;
		}

		& a {
			font-family: 'Inter-Light', sans-serif;
			font-weight: 300;
			position: relative;

			&:after {
				content: '';
				width: 100%;
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				border-bottom: 1px solid;
				border-image-slice: 1;
				border-image-source: linear-gradient(90deg,
						rgba(8, 162, 50, 1) 0%,
						rgba(45, 230, 255, 1) 33%,
						rgba(59, 87, 237, 1) 66%,
						rgba(145, 106, 255, 1));
			}
		}
	}

	&__btn {
		text-decoration: none;
		padding: 15px 43px;
		line-height: 33px;

		@media screen and (max-width: 768px) {
			padding: 9px 27px;
			font-size: 16px;
			line-height: 22px;
		}

		&__wrapper {
			position: relative;
			z-index: 10;
		}
	}

	&__title2 {
		font-weight: 700;
		font-size: clamp(32px, 9.4vw, 121px);
		line-height: 125%;
		text-align: left;
		letter-spacing: -0.02em;

		&_wrapper {
			margin-top: 40px;
			position: relative;
			z-index: 10;
			margin-left: -53px;

			@media screen and (max-width: 1220px) {
				margin-left: 0;
			}

			@media screen and (max-width: 768px) {
				margin-top: 340px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.wrapper {
		padding-top: 0;
	}


	.hero {
		&__img {
			bottom: 0;
			right: 0;
			height: auto;
			width: clamp(413px, 74vw, 533px);
			top: 140px;
		}

		&__title2 {
			display: none;
		}

		&__steps {

			&_wrapper {
				&::after {
					content: "";
					width: 100%;
					height: 100%;
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					background-color: rgba(0, 0, 0, 0.5);
					filter: blur(50px);
				}

				* {
					position: relative;
					z-index: 1;
				}

				padding-top: 0;
				padding-bottom: 0;
				margin-bottom: 50px;

				// background-color: rgba(0, 0, 0, 0.5);
				// box-shadow: rgba(0, 0, 0, 1) 0 0 40px;
			}
		}
	}
}