@import "@/styles/variables.module";
@import "@/styles/text-gradient";

.container {
	max-width: 1088px;
	width: 100%;
	padding: 0 12px;
	margin: 0 auto;
}

.popular {
	margin-top: 310px;
	&__title {
		font-weight: 800;
		font-size: 38px;
		line-height: 140%;
		letter-spacing: -0.02em;
		&__wrapper {
			margin-bottom: 40px;
		}
		&_sub {
			font-size: 24px;
			margin-bottom: 30px;
		}
	}
	&__list {
		&__wrapper {
			margin-top: 30px;
		}
	}
}