@import '@/styles/variables.module.scss';

.dropzone {

}
.wrapper {
	position: relative;
}
.btn {
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
	padding: 0;
	border: none;
	outline: none;
	cursor: pointer;
	display: block;
	background: transparent;
	height: 25px;
}
.customInput {
	border: 1px solid rgba(66, 113, 161, 0.58);
	border-radius: 8px;
	width: 100%;
	max-width: 266px;
	height: 46px;
	padding: 11px 7px 10px;
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;
	& > div {
		margin: 0 auto;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		grid-gap: 7px;
		& span {
			font-weight: 400;
			font-size: 16px;
			line-height: 100%;
			color: rgba(100, 140, 182, 0.9);
			text-wrap: nowrap;
			width: 160px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}