@import '@/styles/variables.module.scss';

.dropzone {

}

.icon {
	margin: 0 auto;
	padding: 151px 0 26px;
	width: fit-content;
}

.text {
	text-align: center;
	font-weight: 300;
	font-size: 18px;
	line-height: 100%;
	color: $white1;
	margin-bottom: 0;
	letter-spacing: 0;

	&__gradient {
		text-decoration: underline;
		text-decoration-skip-ink: none;
		background: linear-gradient(170deg, #08a232 19.5%, #2de6ff 37.5%, #533bed 58%, #ff3cbd 90%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	&__sub {
		font-weight: 300;
		font-size: 16px;
		line-height: 100%;
		text-align: center;
		color: $white1;
		letter-spacing: 0;
		margin-bottom: 12px;
	}
}
.customInput {
	border: 1px solid rgba(66, 113, 161, 0.58);
	border-radius: 8px;
	width: 100%;
	max-width: 266px;
	height: 46px;
	padding: 11px 7px 10px;
	position: relative;
	display: flex;
	align-items: center;
	cursor: pointer;
	& > div {
		margin: 0 auto;
		display: flex;
		align-items: baseline;
		justify-content: center;
		grid-gap: 7px;
		& span {
			font-weight: 400;
			font-size: 16px;
			line-height: 100%;
			color: rgba(100, 140, 182, 0.9);
			text-wrap: nowrap;
			width: 160px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	& > svg {
		position: absolute;
		right: 8px;
		top: 50%;
		transform: translateY(-50%);
	}
}