@import "@/styles/variables.module";
@import "@/styles/text-gradient";

.second {
	position: relative;
	@media screen and (max-width: 768px) {
		padding-bottom: 50px;
	}
	&__img {
		position: absolute;
		left: 0;
		width: clamp(600px, 64vw, 1280px);
		height: auto;
		@media screen and (max-width: 768px) {
			width: clamp(280px, 64vw, 600px);
			top: -300px;
		}
	}
	&__title {
		font-size: clamp(39px, 9vw, 114px);
		font-weight: 800;
		line-height: 100%;
		color: $white;
		position: relative;
		z-index: 10;
		&_wrapper {
			margin-top: 320px;

		}
		& span {
			text-transform: uppercase;
		}
	}
}