@import './variables.module';
@import "./text-gradient";

.desc {
	font-weight: 400;
	font-size: 18px;
	color: $white1;

	@media screen and (max-width: 768px) {
		font-size: 16px;
	}
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.info {
	display: block;
	text-align: center;
	font-size: 14px;
	color: $grey2;
}

.link {
	text-decoration: none;
	color: inherit;
}

.nav-link {
	transition: .2s color ease-in-out;
}

.input {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	color: $white !Important;

	&::placeholder {
		color: $placeholder-color;
	}
}


.nav-link:focus-visible {
	outline-offset: 10px;
}

.subtract-box {
	margin: 0 auto;
	width: fit-content;
	padding: 50px 40px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 0 0;

	&_small {
		backdrop-filter: blur(10px);
		background-image: url('/images/subtract-box.png');
	}

	&_big {
		background-image: url('/images/subtract-big-box_new.png');
	}
}

.btn-reset {
	border: none;
	background: transparent;
}

.hexagon-button {
	padding: 20px 70px;
	margin: 0 auto;
	max-width: fit-content;
	border: none;
	font-size: 25px;
	font-weight: bold;
	color: $white1;
	text-transform: capitalize;
	background-color: transparent;
	background-image: url('/images/hex_reg.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 0 0;
	transition: background-image .1s ease-in-out, filter .2s ease-in-out;
	cursor: pointer;

	&:hover {
		filter: brightness(1.1);
	}

	&:active {
		filter: brightness(0.9);
	}

	&_gradient {
		background-image: url('/images/hex-gradient_reg.png');
		animation-name: gradien-rotating;
		animation-duration: 3s;
		animation-iteration-count: infinite;
		animation-fill-mode: forwards;

		&:active {
			filter: brightness(0.9);
		}
	}
}

.btnWrapper {
	position: relative;
	z-index: 10;

	&:after {
		content: '';
		display: block;
		height: calc(100% + 2px);
		width: calc(100% + 2px);
		border-radius: 40px;
		background: $linearGradient2;
		position: absolute;
		z-index: 5;
		top: -1px;
		left: -1px;
	}
}

.btn-primary {
	background: linear-gradient(145deg, #145958 0%, #144151 100%);
	padding: 8px 16px 7px 17px;
	transition: background .2s ease-in-out;
	min-width: 140px;
	border-radius: 40px;
	position: relative;
	z-index: 30;
	outline: none;

	&:hover {
		background: linear-gradient(145deg, #145958 0%, #144151 100%);
	}
}

.iconBtn {
	padding: 0;
	margin-left: 0;
}

.btnGradient2 {
	position: relative;
	z-index: 10;
	max-width: 210px;
	width: 100%;

	&:after {
		content: '';
		display: block;
		height: calc(100% + 2px);
		width: calc(100% + 2px);
		border-radius: 40px;
		background: linear-gradient(to left, #1FFFFF 0%, #23FF5F 37%, #FFB82D 100%);
		;
		position: absolute;
		z-index: 5;
		top: -1px;
		left: -1px;
	}
}

.btn-second {
	width: 100%;
	background: linear-gradient(176deg, #00ded4 0%, #0292bf 100%);
	padding: 14px;
	border-radius: 40px;
	position: relative;
	z-index: 30;
	outline: none;
	text-shadow: 0 2px 3px rgba(0, 0, 0, 0.27);
	text-transform: capitalize;

	&:hover {
		background: linear-gradient(176deg, #00ded4 0%, #0292bf 100%);
	}

	&-next {
		position: absolute;
		bottom: 24px;
		left: 50%;
		transform: translateX(-50%);
		max-width: 140px;
		font-weight: 700;
		font-size: 19px;
		line-height: 114%;

		@media screen and (max-width: 768px) {
			max-width: 100px;
		}
	}

	&:disabled {
		opacity: 0.6;
	}
}

.container {
	box-sizing: border-box;
	padding: 0 40px;
	max-width: 1155px;
	width: 100%;
	margin: 0 auto;

	&_creatives {
		max-width: 1215px;
	}

	&_createVideo {
		position: relative;
		z-index: 10;
		padding: 0 10px;
	}
}

.modal-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: none;
	box-shadow: none;
	outline: none;
	max-height: 100%;
}

.creatives-list-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 20px;
}

.text-gradient {
	animation-name: gradien-rotating;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	@include text-gradient;

	&_alt {
		@include text-gradient-green;
	}
}

.parallax {
	will-change: transform;
	transition: .1s;
}

@keyframes chars-rotating {

	0% {
		transform: translate(10px, 0px);
	}

	5% {
		transform: translate(9.51px, 3.09px);
	}

	10% {
		transform: translate(8.09px, 5.8775px);
	}

	15% {
		transform: translate(5.8775px, 8.09px);
	}

	20% {
		transform: translate(3.09px, 9.51px);
	}

	25% {
		transform: translate(0px, 10px);
	}

	30% {
		transform: translate(-3.09px, 9.51px);
	}

	35% {
		transform: translate(-5.8775px, 8.09px);
	}

	40% {
		transform: translate(-8.09px, 5.8775px);
	}

	45% {
		transform: translate(-9.51px, 3.09px);
	}

	50% {
		transform: translate(-10px, 0px);
	}

	55% {
		transform: translate(-9.51px, -3.09px);
	}

	60% {
		transform: translate(-8.09px, -5.8775px);
	}

	65% {
		transform: translate(-5.8775px, -8.09px);
	}

	70% {
		transform: translate(-3.09px, -9.51px);
	}

	75% {
		transform: translate(0px, -10px);
	}

	80% {
		transform: translate(3.09px, -9.51px);
	}

	85% {
		transform: translate(5.8775px, -8.09px);
	}

	90% {
		transform: translate(8.09px, -5.8775px);
	}

	95% {
		transform: translate(9.51px, -3.09px);
	}

	100% {
		transform: translate(10px, 0px);
	}
}

@keyframes gradien-rotating {
	0% {
		filter: hue-rotate(-30deg);
	}

	50% {
		filter: hue-rotate(80deg);
	}

	100% {
		filter: hue-rotate(-30deg);
	}
}

.bg-gallery {
	background-image: url('../../public/images/bg-gallery.png');
	background-blend-mode: normal;
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;
	padding-top: 50px;
	// padding-bottom: 158px;
	margin-bottom: -68px;
}

.fw-600 {
	font-weight: 600;
}

.fw-700 {
	font-weight: 700;
}

.home {
	background-color: $graphite;
	background-image: url('../../public/images/landing_page_1280.png');
	background-blend-mode: normal;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	margin-bottom: -68px;

	@media screen and (max-width: 580px) {
		background-image: url('../../public/images/bg_mob.png');
	}
}

@media (max-width: 800px) {
	.container {
		padding: 0 30px;

		&_creatives {
			padding: 0 15px;
		}

		&_createVideo {
			padding: 0 10px;
		}
	}

	.creatives-list-grid {
		grid-template-columns: repeat(3, 1fr);
		gap: 10px;
	}
}

.animate {
	animation: gradientShift 5s linear infinite;

	&_8 {
		animation-duration: 8s;
	}

	&_7 {
		animation-duration: 7s;
	}

	&_6 {
		animation-duration: 6s;
	}

	&_5 {
		animation-duration: 5s;
	}

	&_4 {
		animation-duration: 4s;
	}

	&_3 {
		animation-duration: 3s;
	}

	&_2 {
		animation-duration: 2s;
	}
}

@keyframes gradientShift {
	0% {
		background-position: 0 50vw;
	}

	50% {
		background-position: 100vw 50vw;
	}

	100% {
		background-position: 0 50vw;
	}
}