@import 'reset';
@import 'globals';
@import './variables.module';
@import 'fonts';

html {
	scroll-behavior: smooth;
}

html,
body {
	font-size: 18px;
	font-family: 'Inter', sans-serif;
	color: $white;
	line-height: 1.4;
	background-color: $bg4;
}

* {
	box-sizing: border-box;
	scrollbar-width: thin;
}

@media (max-width: 800px) {

	html,
	body {
		font-size: 14px;
	}
}