$graphite: #1D1F22;
$white: #ffffff;
$grey1: #C1C1C1;
$white1: #F1F1F1;
$new-black: #1F1F1F;

$bg1: #082440E5;
$bg2: #01204066;





$linearGradient1: linear-gradient(to bottom, #1FFFFF 0%, #23FF5F 37%, #FFB82D 100%);
$linearGradient2: linear-gradient(to right, #4271A1E5 11%, #FFCC49 50%, #4271A1E5 87%);
$linearGradient3: linear-gradient(to bottom, #00DED4 0%, #0292BF 100%);
$linearGradient4: linear-gradient(180deg, #000f22 0%, #0a0b0c 100%);


:export {
	graphiteColor: $graphite;
	whiteColor: $white;
}