$graphite: #1D1F22;
$white: #F1F1F1;
$linearGradient1: linear-gradient(to bottom, #1FFFFF 0%, #23FF5F 37%, #FFB82D 100%);
$linearGradient2: linear-gradient(to right, #4271A1E5 11%, #FFCC49 50%, #4271A1E5 87%);
$linearGradient3: linear-gradient(to bottom, #00DED4 0%, #0292BF 100%);

:export {
	graphiteColor: $graphite;
	whiteColor: $white;
}