@import "@/styles/variables.module";
@import "@/styles/text-gradient";
.title {
	&__title {
		font-weight: 700;
		font-size: clamp(22px, 6.3vw, 62px);
		color: $white;
		text-transform: uppercase;
		line-height: 100%;
		margin-bottom: 60px;
		margin-top: 0;
	}
}