.creatives-section {
    position: relative;
    z-index: 2;

    &__imgWrapper {
        position: absolute;
        right: 0;
        z-index: 10;
    }

    &__img {
        position: relative;
        z-index: 5;
        height: auto;

        &_main {
            width: clamp(533px, 57vw, 980px);
            @media screen and (max-width: 768px) {
                width: clamp(280px, 57vw, 450px);
            }
        }
        &_gallery {
            width: clamp(533px, 57vw, 780px);
            @media screen and (max-width: 768px) {
                width: clamp(280px, 57vw, 380px);
            }
        }
        &_preview {
            width: clamp(533px, 57vw, 780px);
            @media screen and (max-width: 768px) {
                width: clamp(280px, 57vw, 380px);
            }
        }
    }


    &__line {
        width: 1px;
        height: 140px;
        background: linear-gradient(to bottom, #4271A1E6 11%, #FFCC49 50%, #4271A1E6 87%);
    }

    &__tag {
        font-size: 2rem;
        margin-bottom: 40px;
        font-weight: 700;
    }

    &__title {
        font-size: 1.3rem;
        margin-bottom: 1em;
        font-weight: 700;
    }

    &__block {
        margin-bottom: 40px;
        position: relative;
        z-index: 10;
    }
}