.creatives-section {
    padding-top: 60px;
    position: relative;
    z-index: 2;
    &__imgWrapper {
        &:before {
            content: '';
            position: absolute;
            right: 0;
            top: inherit;
            background: linear-gradient(to bottom, #FFFFFF00 57%, #000F22 100%);
            width: 635px;
            height: 804px;
            z-index: 20;
            box-shadow: -300px 330px 79px -280px #000F22,
            310px 330px 79px -280px #000F22,
            210px 330px 79px -280px #000F22,
            120px 330px 79px -280px #000F22,
            30px 330px 79px -280px #000F22,
            -50px 330px 79px -280px #000F22,
            -150px 330px 79px -280px #000F22,
            -230px 330px 79px -280px #000F22;
            @media screen and (max-width: 1024px) {
                max-width: 535px;
                height: 654px;
            }
            @media screen and (max-width: 768px) {
                background: linear-gradient(to bottom, #FFFFFF00 37%, #000F22 100%);
                width: 342px;
                height: 435px;
            }
        }
    }
    &__img {
        position: absolute;
        top: inherit;
        right: 0;
        width: 100%;
        z-index: 10;
        max-width: 635px;
        @media screen and (max-width: 1024px) {
            max-width: 535px;
            height: 654px;
        }
        @media screen and (max-width: 768px) {
            max-width: 342px;
            height: auto;
        }
    }
    &__line {
        width: 1px;
        height: 140px;
        background: linear-gradient(to bottom, #4271A1E6 11%, #FFCC49 50%, #4271A1E6 87%);
    }

    &__tag {
        margin-top: 60px;
        font-size: 2rem;
        margin-bottom: 40px;
        font-weight: 700;
    }

    &__title {
        font-size: 1.3rem;
        margin-bottom: 1em;
        font-weight: 700;
    }

    &__block {
        margin-bottom: 40px;
        position: relative;
        z-index: 10;
    }
}