@import "@/styles/variables.module";
@import "@/styles/text-gradient";

.creatives-list-item {
    position: relative;
    padding-top: $creative-ratio;

    &__link {
        background: $bg2;
        border-radius: 10px;
        overflow: hidden;
        border: none;
        color: $white;
        transition: .1s ease;
        outline: 4px solid transparent;
        cursor: pointer;
        font-size: 0.8em;
        font-weight: 800;
        border: 1px solid rgba(255, 255, 255, .15);
        position: absolute;
        inset: 0;

        &:hover {
            outline: 4px solid rgba(255, 255, 255, .2);

            .creatives-list-item__content {
                background-color: transparent;
            }

            &+.creatives-list-item__share-button {
                opacity: 1;
            }
        }

        &:focus-visible {
            outline: 4px solid $white;
            box-shadow: rgba(255, 255, 255, 0.4) 0 0 20px;

            .creatives-list-item__content {
                background-color: transparent;
            }
        }
    }

    &__media {
        position: absolute;
        inset: 0;

        &-video {
            position: absolute;
            inset: 0;
            object-fit: cover;
        }
    }

    &__content {
        position: absolute;
        inset: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
        background-color: rgba(0, 0, 0, .15);
        transition: 0.1s ease;
    }

    &__top {
        display: flex;
        justify-content: flex-end;
    }

    &__share-button {
        opacity: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: .2s ease;
        z-index: 2;
        position: absolute;
        top: 10px;
        right: 10px;

        &:hover,
        &:focus-visible {
            opacity: 1;
            filter: contrast(2);
        }

    }

    &__share-window {
        position: absolute;
        z-index: 3;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 240px;
        padding: 35px 20px 30px 20px;
        background-color: #4A7096;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, .5) 0 10px 50px;

        &-close {
            background-color: transparent;
            cursor: pointer;
            border: none;
            position: absolute;
            z-index: 1;
            top: 10px;
            right: 10px;
        }
    }

    &__title {
        position: relative;

        &-bg {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 20%;
            top: 40%;
            background-color: rgba(0, 0, 0, .5);
            filter: blur(10px);
        }

        &-label {
            position: relative;
            text-align: left;
            @include text-gradient-light;
        }

    }

    &__votes {
        font-size: 0.6em;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 30px;
    }

    @media (max-width: 800px) {
        &__link {
            font-size: 0.8em;
        }

        &__content {
            padding: 10px 5px;
        }

        &__votes {
            bottom: 5px;
            right: 0px;
        }
    }
}