@import '@/styles/variables.module';
@import "@/styles/text-gradient";

.wrapper {
	width: 100%;
	height: 100%;
	position: relative;

	&:after {
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		background-color: rgba(0, 0, 0, 0.3);
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 4px;
	}
}

.img {
	width: 100%;
	height: 100%;
	border-radius: 4px;
	object-fit: cover;
	filter: brightness(0.5);
}

.form {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;
	height: 100%;
	width: 100%;
}

.input {

	background-color: transparent;
	border: 3px solid transparent;
	border-radius: 0;
	outline: none;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	padding: 6px 0;
	width: 100%;
	@include text-gradient;

	&::placeholder {
		color: $white;
		font-family: 'Inter', sans-serif;
		font-size: 18px;
		font-weight: 700;
	}

	&:focus+hr {
		display: block;
	}
}

.label {
	position: absolute;
	bottom: 108px;
	width: 80%;
	left: 10%;
	margin-bottom: 24px;

	& hr {
		border: none;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 3px;
		display: none;
		background: linear-gradient(0deg,
				rgba(8, 162, 50, 1) 0%,
				rgba(45, 230, 255, 1) 33%,
				rgba(59, 87, 237, 1) 66%,
				rgba(145, 106, 255, 1));
		background: -webkit-linear-gradient(0deg,
				rgba(8, 162, 50, 1) 0%,
				rgba(45, 230, 255, 1) 33%,
				rgba(59, 87, 237, 1) 66%,
				rgba(145, 106, 255, 1));
	}
}