@import '@/styles/variables.module.scss';

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@media screen and (max-width: 768px) {
		flex-direction: column;
		align-items: center;
		grid-gap: 82px;
	}
	&__bg {
		border-top: 1px solid transparent;
		border-image: $linearGradient2;
		border-image-slice: 1;
		padding: 43px 0 58px;
		background-image: url("../../../../public/images/bg-footer.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top center;
		position: relative;
		@media screen and (max-width: 768px) {
			padding: 43px 0 71px;
			background-image: url("../../../../public/images/bg-footer-mob.png");
		}

		&:after {
			@media screen and (max-width: 768px) {
				content: '';
				display: block;
				width: 153px;
				height: 229px;
				background-repeat: no-repeat;
				position: absolute;
				background-image: url("../../../../public/images/women-mob.png");
				right: auto;
				left: 0;
				bottom: 0;
			}
		}
		&_wrapper {
			padding-top: 68px;
			overflow: hidden;
		}
	}
	&_left {
		max-width: 550px;
		width: 100%;
		position: relative;
		z-index: 10;
		@media screen and (max-width: 768px) {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			grid-gap: 20px;
		}
	}
	&_right {
		position: relative;
		bottom: -50px;
		right: 0;
		min-width: 218px;
		@media screen and (max-width: 768px) {
			top: 0;
		}
	}
}

.logo {
	display: block;
	width: 100%;
	max-width: 203px;
	height: auto;
	@media screen and (max-width: 768px) {
		max-width: 112px;
	}
}

.nav_wrapper {
	display: flex;
	align-items: flex-start;
	max-width: 100%;
	width: 100%;
	position: relative;

	&:after {
		content: '';
		display: block;
		width: 346px;
		height: 385px;
		background-image: url("../../../../public/images/women.png");
		background-repeat: no-repeat;
		position: absolute;
		right: -367px;
		bottom: -83px;
		@media screen and (max-width: 768px) {
			display: none;
		}
	}
}

.nav_list {
	max-width: 100%;
	padding: 0 18px;
	@media screen and (max-width: 768px) {
		padding: 0;
	}
	& ul {
		max-height: 100px;
		flex-direction: column;
		flex-wrap: wrap;
		grid-gap: 17px;
		width: 100%;
		@media screen and (max-width: 768px) {
			max-height: 150px;
			align-items: center;
			justify-content: center;
			grid-gap: 29px 0;
		}
		& li {
			width: calc(100% - 117px);
			min-width: 140px;
			@media screen and (max-width: 850px) {
				width: calc(60% - 117px);
			}
			@media screen and (max-width: 768px) {
				width: 110px;
				min-width: auto;
				text-align: left;
			}
		}

		& li:nth-of-type(1n+4) {
			width: 100px;
			@media screen and (max-width: 768px) {
				width: fit-content;
				min-width: auto;
			}
		}
	}
}

.list {
	list-style-type: none;
	position: relative;
	z-index: 10;
	display: flex;
	align-items: center;
	&__item {
	}
}

.markets {
	display: block;
	max-width: 161px;
	width: 100%;
	height: auto;
}
.btn {
	display: block;
	text-decoration: none;
	padding: 12px 34px;
	color: $graphite;
	font-size: 20px;
	line-height: 28px;
	text-transform: capitalize;
	text-align: center;
}