@import '@/styles/variables.module.scss';

.wrapper {
	width: 250px;
}
.logo {
	display: block;
	&_img {
		display: block;
	}
	&__wrapper {
		padding: 18px 12px 0;
	}
}
.navMob {
	& ul {
		flex-direction: column;
		gap: 18px;
		padding: 18px 0;
		color: #fff;
	}
}
.buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 17px;
	padding: 18px 12px;
}
.btn {
	text-decoration: none;
	padding: 8px 18px;
	font-weight: 700;
	font-size: 16px;
	text-transform: capitalize;
	text-align: center;
	color: $graphite;
	display: block;
}