@import "@/styles/variables.module";
@import "@/styles/text-gradient";

.ready {
	margin-top: 88px;
	position: relative;
	z-index: 10;
	padding-bottom: 294px;
	box-shadow: inset 0 -340px 68px -296px black;

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 10;
		display: block;
		height: 68px;
		width: 100%;
		background: linear-gradient(to bottom, #ffffff00 0%, #0C0E10 100%);
	}

	&__img {
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 0;
		width: clamp(248px, 80vw, 445px);
		height: auto;
	}

	&__title {
		font-weight: 700;
		font-size: 5.2rem;
		line-height: 140%;
		letter-spacing: -0.02em;
		text-align: right;
		color: $white1;
		position: relative;
		z-index: 20;
		margin-bottom: 0.56em;
	}

	&__forms {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 60px;
		align-items: stretch;
		padding: 110px 120px;

		&-line-wrapper {
			display: none;
		}
	}
}

@media(max-width: 1200px) {
	.ready {
		&__title {
			font-size: 4rem;
		}

		&__forms {
			gap: 30px;
			padding: 80px;
		}
	}
}

@media (max-width: 1024px) {
	.ready {
		&__forms {
			padding: 50px;
		}
	}
}

@media (max-width: 768px) {
	.ready {
		padding-bottom: calc(100vw + 40px);

		&__img {
			left: 52%;
			transform: translateX(-50%);
		}

		&__title {
			text-align: center;
			font-size: 2.25em;
			margin-bottom: 1em;
		}

		&__forms {
			display: block;
			padding: 0;
			background: none;
			backdrop-filter: none;

			&-line-wrapper {
				display: flex;
				justify-content: center;
			}

			&-line {
				margin-top: -1px;
				margin-bottom: -1px;
				width: 2px;
				height: 65px;
				background: linear-gradient(to bottom, #4271A1E6 11%, #FFCC49 100%);
			}
		}
	}
}